/* here should have: only colors */
:root {
  /* Colors: at least primary, background, text, accent */
  --color-primary: #d4681d;
  --color-background: #feffdc;
  --color-background-secondary: #fff;

  /* --color-accent: #ffa136; */
  --color-accent: #c18a09b2;
  --color-accent2: --color-lable-sm: #c18a09aa;

  /* text color */
  --color-text: #0c0c0c;
  --color-paragraph: #0c0c0c;
}

/* ***************************************************** */
/* https://byui-cse.github.io/wdd331r-course/unit/2/learn/css-architecture.html */
/* :root {
  --color-primary: #1d4e89;
  --color-primary-light: #2a6cb5;
  --color-text: #1a1a2e;
  --color-text-muted: #555;
  --color-bg: #fff;
  --color-surface: #f5f5f5;
  --color-accent: #e07a2f;
  --color-border: #ddd;
} */
/* ***************************************************** */
