.site-nav {
  display: flex;
  justify-content: space-between;
}

.site-nav ul {
  display: flex;
  flex-wrap: wrap;
  padding: var(--spacing-medium);
  margin-bottom: var(--spacing-large);
  justify-content: space-between;
  list-style-type: none;
}

.site-nav a {
  color: var(--seed-text-muted);
  /* text-decoration: none; */
  padding: var(--padding-sm);
  border-radius: var(--border-radius);
}

/* active nav link is highlighted */
.site-nav a[aria-current='page'] {
  background-color: var(--color-primary);
  color: var(--color-background);
}

/* nav buttons not in use have lower opacity */
.site-nav a:not([aria-current='page']) {
  opacity: 0.8;
}
